<h1>Burgers!</h1>

<h2>Burgers that have not been devoured!</h2>



<ul>
  {{#each burgers}}
    {{#unless devourIt}}
    {{> burgers/burgers-block}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devourIt}}
    {{>burgers/burgers-block}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add Burger!</h2>
<form class="create-form">
  
  <div class="form-group">
    <label for="burgerName">Burger:</label>
    <button type="submit" class="burgerButton">Submit</button>
    <input type="text" id="burgerName" name="burgerName">
  </div>



<h2>Eat the Burger</h2>
</form>

<form class="submit-button">
  <div class="form-group">
    <label for="yum">Devour it!!!</label>
    <button type="submit" class="burgerButton">Submit</button>
  </div>

</form>
